<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		<li><a href="{{ page.base-url | absolute_url }}{{ site.langs_value[page.lang] }}">{{ site.transl['home'][page.lang] }}</a></li>
		{% for p in site.html_pages %}
		    {% if p.layout != "home" and p.nav-menu == true and p.lang = page.lang %}
		        <li><a href="{{ p.url | absolute_url }}">{{ site.transl.[p.title | downcase][page.lang] }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
	<ul class="actions vertical">
		<li><a href="#" class="button special fit">Get Started</a></li>
		<li><a href="#" class="button fit">Log In</a></li>
	</ul>
</nav>
